.App {
  text-align: center;
}

.App-footer {
  background-color: grey;
  height: 80px;
  padding: 30px;
  margin-top: 10px;
  color: white;
}

.App-header {
  background-color: rgba(0, 179, 211, 0.897);
  height: 150px;
  padding: 20px;
  margin-bottom: 10px;
  color: white;
}

.App-title {
  color: white;
}

.App-subtitle {
  color: white;
}

.button {
  margin: 10px;
}

.fa-heart {
  color: red
}
